.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  background-color: transparent;
  height: 120px;
  color: white;
}

.header-container {
    height: 127px;
}

.top-header {
  background-color: #222;
  height: 69px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding: 40px;
}

img.App-logo-1 {
  padding-top: 10px;
  height: 100px;
}


ul.nav {
    background-color: lightgoldenrodyellow;
}


li.nav-tabs {
    display: inline;
    margin: 0px 10px;
}

.nav-tabs a {
    text-decoration: none;
}

a.active {
  color: orange;
  text-decoration: underline;
}


li {
    list-style: none;
}

.comment-box {
    border: 1px solid lightgray;
    width: 50%;
    text-align: left;
    margin: 0 auto;
    font-size: 13px;
    padding: 23px;
}

p.comment-body {
    font-size: 20px;
}

.no-comments-box {
    background-color: azure;
    width: 50%;
    padding: 30px;
    margin: 30px auto;
}


.post-form {
    width: 320px;
    margin: 0 auto;
}


input.input {
    display: block;
    margin: 0 auto;
    padding: 4px;
    margin: 4px auto;
    width: 300px;
    height: 19px;
    font-size: 14px;
}


textarea.input-body {
    width: 300px;
    height: 200px;
    margin: 14px auto;
    display: block;
}


.select-category {
    width: 300px;
    margin: 14px 4px;
}


.select-category select {
    margin: 0 10px;
}


button {
    padding: 0 10px;
    margin: 3px;
    font-size: 20px;
    background-color: cornsilk;
}

.posts-list {
    margin: 30px;
}


.none {
    margin: 30px 0px;
}
